<header>
  <h1 class="header_logo">
    <a href="javascript:void(0);" class="logo">
      <img src="https://image.osulloc.com/kr/ko/static/v2/images/common/logo.png" class="logo_img" />
    </a>
  </h1>
  <button type="button" class="open_m_nav">
    <span class="line"></span>
  </button>
  <nav class="nav">
    {% if header_menu %}
    <ul class="nav_depth1">
      {% for item in header_menu %}
      <li class="list_depth1">
        <a href="javascript:void(0);" class="nav_link link_depth1">{{ item.depth1 }}</a>
        {% if item.hasChild %}
        <ul class="nav_depth2">
          {% for child1 in item.children %}
          <li class="list_depth2">
            <a href="javascript:void(0);" class="nav_link link_depth2">{{child1.depth2}}</a>
            {% if child1.children %}
            <ul class="nav_depth3">
              {% for child3 in child1.children %}
              <li class="list_depth3">
                <a href="javascript:void(0);" class="nav_link link_depth3">{{child3}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
  <ul class="nav_utility">
    <li class="util_icon nav_search">
      <button type="button" id="btn_open_search" class="btn_open_search">검색 열기</button>
    </li>
    <li class="util_icon nav_cart">
      <a href="javascript:void(0);" class="go_cart"></a>
    </li>
    <li>
      <a href="javascript:void(0);" class="util_link">출석체크</a>
    </li>
    <li>
      <a href="javascript:void(0);" class="util_link">로그인</a>
    </li>
  </ul>
</header>
